<!-- <div class="row"> -->
    <div class="span10 offset1">
<footer class="footer">
    <p class="pull-right" >{% if page.previous.url %} 
    	<a href="{{page.previous.url}}" style="color:black"><i class="icon-double-angle-left icon-2x" rel="tooltip" data-placement="bottom" title="Previous Post: {{page.previous.title}}"></i></a>  {% endif %} &nbsp;&nbsp; {% if page.next.url %}    
    	<a href="{{page.next.url}}" style ="color:black"><i class="icon-double-angle-right icon-2x" rel="tooltip" data-placement="bottom" title="Next Post: {{page.next.title}}"></i></a>   {% endif %} 
    </p> 

	<br><br/>
</footer>
</div>
